server:
  host: ""
  port: 4242
  connectTimeout: 1s
db:
  dsn: "postgres://main:main@db:5432/rate_limiter?sslmode=disable"
  migrationsDir: "./migrations/"
logger:
  level: "info" # debug, info, warn, error
app:
  refillRate:
    count: 3
    time: 30s
  garbageCollector:
    enabled: true
    ttl: 600s
    interval 60s